html,
body,
#app {
  height: 100%;
}
#panel {
  height: 100%;
  border-left: 1px solid #999;
  padding: 20px;
}
#board {
  height: 100%;
}
.w {
  width: auto;
  padding: 16px;
  position: absolute;
  border: 1px solid #000;
  z-index: 4;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  border: 1px solid #2e6f9a;
  -webkit-box-shadow: 2px 2px 19px #e0e0e0;
  box-shadow: 2px 2px 19px #e0e0e0;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  cursor: move;
  background-color: #fff;
  font-size: 11px;
  -webkit-transition: background-color 0.25s ease-in;
  -moz-transition: background-color 0.25s ease-in;
  -o-transition: background-color 0.25s ease-in;
  -ms-transition: background-color 0.25s ease-in;
  transition: background-color 0.25s ease-in;
}
.w:hover {
  background-color: #5c96bc;
  color: #fff;
}
.w .title {
  margin-right: 8px;
}
.w .ep {
  position: absolute;
  bottom: 37%;
  right: 5px;
  width: 1em;
  height: 1em;
  background-color: #ffa500;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 2px #000;
  box-shadow: 0px 0px 2px #000;
  -webkit-transition: box-shadow 0.25s ease-in;
  -moz-transition: box-shadow 0.25s ease-in;
  -o-transition: box-shadow 0.25s ease-in;
  -ms-transition: box-shadow 0.25s ease-in;
  transition: box-shadow 0.25s ease-in;
}
.w .ep:hover {
  -webkit-box-shadow: 0px 0px 6px #000;
  box-shadow: 0px 0px 6px #000;
}
.aLabel {
  -webkit-transition: background-color 0.25s ease-in;
  -moz-transition: background-color 0.25s ease-in;
  -o-transition: background-color 0.25s ease-in;
  -ms-transition: background-color 0.25s ease-in;
  transition: background-color 0.25s ease-in;
  background-color: #fff;
  font-size: 10px;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  padding: 8px;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  border: 1px solid #346789;
  cursor: pointer;
}
.aLabel._jsPlumb_hover,
._jsPlumb_source_hover,
._jsPlumb_target_hover {
  background-color: #1e8151;
  color: #fff;
}
.dragHover {
  border: 2px solid #ffa500;
}
